.box-de-rgb{
  width: 100px;
  height: 100px;
  background: rgb(250, 100, 0);
  margin: 10px;
  font-size: 12px;
  padding-top: 44px;
  box-sizing: border-box;
  text-align: center;
}

.box-de-hex-1{
  width: 100px;
  height: 100px;
  background: #fa6400;
  margin: 10px;
  font-size: 12px;
  padding-top: 44px;
  text-align: center;
  box-sizing: border-box;

}

.box-de-hex-2{
  width: 100px;
  height: 100px;
  padding-top: 44px;
  background: #f60;
  margin: 10px;
  font-size: 12px;  
  text-align: center;
  color: #fdc;
  box-sizing: border-box;

}