.ejemplo_1{
  background: lightblue;
  width: 350px;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  
  /*Tipos de bordes: */
  /*solid: borde solido*/
  /*double: doble borde solido*/
  /*groove: estilo de borde como para botones*/
  /*hidden: el borde existe pero no se ve, sirve para cuando se quiera llamar*/
  /*Hay más pero casi no se usan*/
  border-style: solid;
  border-width: 5px;
  border-color: black;
  
  /*La propiedad "border" reemplaza border-width, border-style, border-color en uno solo*/
  border: 5px solid black; /*Todos los bordes son iguales*/
  border-top: 5px solid black;/*Borde arriba*/
  border-right: 5px solid blue;/*Borde derecha*/
  border-bottom: 5px dashed black;/*Borde abajo*/
  border-left: 5px solid red;/*Borde izquierda*/
  
  /*Para redondar los bordes se puede usar px o %, son dos tipos de redonde diferente*/
  border-radius: 4px; /*Todos los bordes*/
  border-radius: 5px 15px 20% 50%; /*arriba-izq, arriba-derecha, abajo-derecha, abajo-izq*/
  
}

.input_log_in{
  margin: 15px 5px;
  background: whitesmoke;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;

}
.input_log_in_submit{
  margin: 0 5px;
  width: 50%;
  letter-spacing: 2px;
  text-transform: uppercase;

}