body{
  margin: 0;
  font-family: sans-serif;
  background-color: #222;
}
h1{
  text-align: center;
  color: #eee;
  margin: 0;
  margin-top: 50px;
}
h2{
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
  margin: 5px 10px;
}
form{
  background-color: #ededed;
  padding: 10px 0;
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px #0004;
}
.form_input{
  padding: 10px 20px;
}
input{
  min-width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  border-left: 3px solid #666;
  border-radius: 4px;
  box-shadow: 0 0 10px #0003;
} 
.form_transparente{
  background-color: transparent;
  color: #eee;
  box-shadow: 0 0 55px #000;
}
.input_transparente{
  width: 100%;
  background-color: transparent;
  border: none; 
  border: 2px solid #666;
  border-radius: 4px;
  color: #eee;
}
textarea{
  min-width: 100%;
  padding: 5px 10px;
  
  background-color: transparent;
  
  border: none; 
  border: 2px solid #666;
  border-radius: 4px;
  box-sizing: border-box;
  
  font-family: sans-serif;
  color: #eee;

  /*"resize" es para dejar ajustar la ventana en vertical u horizontal (both, vertical, horizontal, none)*/
  resize: vertical;
  /*la propiedad "min-height" se puede reemplazar con el atributo "rows=""" de la etiqueta textarea*/
  min-height: 50px;
  max-height: 300px;
}
.form_submit{
  width: 25%;
  margin: auto;
}
