
/*Buscar en Google "google fonts" y descargar la que se quiere*/

@font-face {
  font-family: "Montserrat";
  src: url("monstserrat_fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("monstserrat_fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 700;
}